* {
    font-family: Georgia, serif;
    box-sizing: border-box;
}

#top{
    width: 50%;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
}

.books{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.book-card{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.book-card:hover{
    transform: scaleY(1.042);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.con{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.forms{
    padding: 30px;
}

.check-in{
    text-align: center;
    font-family: Georgia, serif;
}