<div class="row">
    <div class="col">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">

            <a class="navbar-brand" href="/library/book/get-all-books">Franklyn's E-Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/library/admin/add-book">Add Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/library/admin/books/history">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/library/admin/books">Books</a>
                    </li>
                </ul>

            </div>

        </nav>
    </div>
</div>
