{{template "header.html"}}
<div class="container" >
    <div class="card" id="top">
            <form class="forms" action="/library/login/auth" method="post">
                <div class="check-in"><h3>Student Login</h3></div>
                <div class="mb-3">
                    <label for="UserName" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="UserName" name="user_name">
                </div>

                <div class="mb-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-primary" onclick="setCookie()">Submit</button>
                <span style="float: right; text-decoration: none">Not yet a user? <a href="/library/signup" style="text-decoration: none">signup</a></span>
            </form>
    </div>

</div>

<script>
   let user = document.getElementById("UserName")
    function setCookie() {
        var d = new Date();
        d.setTime(d.getTime() + (1*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie =  "UserName"+ "=" + user.value + ";" + expires + ";path=/";
    }

</script>

{{template "footer.html"}}