<div class="row">
    <div class="col">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

            <a class="navbar-brand" href="/library/book/get-all-books">Franklyn's E-Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Sci-fi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Motivational</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">fantasy</a>
                    </li>


                    <div class="dropdown" id="dropdown">

                    </div>
                </ul>
                <li class="d-flex" id="login"></li>
                <form class="d-flex" method="post" action="/library/book/search">
                    <input class="form-control me-2" type="text" name="book-title" placeholder="Search book">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>

    </nav>
    </div>
</div>

<script>
    function removeCookie() {
        document.cookie = "UserName=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }

    function getCookies(cookieName) {
        var name = cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }


    login = document.getElementById("login");
    dropdown = document.getElementById("dropdown");
    let cook = getCookies("UserName");
        console.log(cook);
    if(cook == ""){
        login.innerHTML = '<a class="nav-link" style="color: white" href="/library/login">Login</a>';
    }else {
        dropdown.innerHTML = ` <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                                   Hi ${cook}
                                </button>
                                <ul class="dropdown-menu">
                                    <li ><a style="color: black" class="nav-link dropdown-item" href="/library/lend/get-lenders">Return books</a></li>
                                    <li ><a style="color: black" class="nav-link" href="/library/logout" onclick="removeCookie('UserName')"> Logout</a></li>
                                </ul>
                                `;
    }

</script>