{{template "header.html"}}
<div class="container" >
    <div class="card" id="top">
        <form class="forms" action="/library/signup/auth" method="post" id="form">
            <div class="check-in"><h3>Student Check in</h3></div>
            <div class="mb-3">
                <label for="" class="form-label">First Name</label>
                <input type="text" class="form-control" name="first_name" placeholder="First name">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="last_name" placeholder="Last name">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Username</label>
                <input type="text" class="form-control" name="user_name" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="***">
                <span id="password_error" style="color: red"></span>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="cpassword" name="c_password" placeholder="***">
                <span id="cpassword_error" style="color: red"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <span style="float: right; text-decoration: none">Already a user? <a href="/library/login" style="text-decoration: none">login</a></span>

        </form>
    </div>

</div>
{{template "footer.html"}}

<script>
    let password = document.getElementById("password")
    let cpassword = document.getElementById("cpassword")
    let password_err = document.getElementById("password_error")
    let cpassword_err = document.getElementById("cpassword_error")
    let form = document.getElementById("form")

    form.addEventListener('submit', function (e) {
        if (password.value.length < 6){
            e.preventDefault()
            password_err.innerHTML = ""
            password_err.innerHTML = 'password must be at least 6 characters long'
        }else if (password.value !== cpassword.value){
            e.preventDefault()
            password_err.innerHTML = ""
            cpassword_err.innerHTML = `passwords doesn't match`
        }
    })

</script>